.tripal-contents {
  border-top: 1px solid #d0d0d0;
}

/**
 * JBrowse Instances
 */
div#JBrowseInstance{
  border: 1px solid #d0d0d0;
  width: 100%;
  height: 700px;
}

div#JBrowseInstance iframe {
  border: none;
}

/**
 * Feature Pages
 */
table#tripal_feature-variant_genotypes tr td.layout {
  border: none;
  border-top: 1px solid #F3F3F3;
  border-bottom: 1px solid #F3F3F3;
  background: white;
}

table#tripal_feature-variant_genotypes tr td.layout.genotypes-pie {
  width: 300px;
  margin-right: 25px;
  margin-left: 50px;
}
p#genotypes.no-alleles {
  font-style: italic;
  color: #7D7D7D;
}

.tripal_feature-obsolete {
  color: #8c2e0b;
  border: 1px solid #ed541d;
  background-color: #fef5f1;
  padding: 10px 25px;
  font-size: 1.2em;
  font-style: italic;
}
.tripal_feature-obsolete .title {
  font-weight: bold;
}

/**
 * Feature Pages: Ribbons
 */
.tripal-contents {
  position: relative;
}

/* Generic Feature */
.ribbon-generic .banner {
  /* Ribbon Font Color */
  color: #56554C;
  text-shadow: rgba(255,255,255,0.5) 0px 1px 0px;
}
.ribbon-generic .banner::after,
.ribbon-generic .banner::before {
  /* Ribbon Curled-edge Color */
  background-color: #787878;
}
.ribbon-generic .text::before,
.ribbon-generic .text::after,
.no-css-transforms .ribbon-generic .text {
  /* Ribbon Font Color */
  color: #56554C;
  text-shadow: rgba(255,255,255,0.5) 0px 1px 0px;

  /* Ribbon Body Color */
  background-color: #B3B3B3;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#B3B3B3), to(#CCCCCC));
  background-image: -webkit-linear-gradient(top, #B3B3B3, #CCCCCC);
  background-image:    -moz-linear-gradient(top, #B3B3B3, #CCCCCC);
  background-image:     -ms-linear-gradient(top, #B3B3B3, #CCCCCC);
  background-image:      -o-linear-gradient(top, #B3B3B3, #CCCCCC);
}

/* Sequence Feature */
.ribbon-sequence .banner {
  /* Ribbon Font Color */
  color: #DADAD0;
  text-shadow: rgba(0,0,0,0.5) 0px 1px 0px;
}
.ribbon-sequence .banner::after,
.ribbon-sequence .banner::before {
  /* Ribbon Curled-edge Color */
  background-color: #3C4A49;
}
.ribbon-sequence .text::before,
.ribbon-sequence .text::after,
.no-css-transforms .ribbon-sequence .text {
  /* Ribbon Font Color */
  color: #DADAD0;
  text-shadow: rgba(0,0,0,0.5) 0px 1px 0px;

  /* Ribbon Body Color */
  background-color: #7C9A99;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#7C9A99), to(#597372));
  background-image: -webkit-linear-gradient(top, #7C9A99, #597372);
  background-image:    -moz-linear-gradient(top, #7C9A99, #597372);
  background-image:     -ms-linear-gradient(top, #7C9A99, #597372);
  background-image:      -o-linear-gradient(top, #7C9A99, #597372);
}

/* Variant Feature */
.ribbon-variant .banner {
  /* Ribbon Font Color */
  color: #56554C;
  text-shadow: rgba(255,255,255,0.5) 0px 1px 0px;
}
.ribbon-variant .banner::after,
.ribbon-variant .banner::before {
  /* Ribbon Curled-edge Color */
  background-color: #749C38;
}
.ribbon-variant .text::before,
.ribbon-variant .text::after,
.no-css-transforms .ribbon-variant .text {
  /* Ribbon Font Color */
  color: #56554C;
  text-shadow: rgba(255,255,255,0.5) 0px 1px 0px;

  /* Ribbon Body Color */
  background-color: #BFDC7A;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#BFDC7A), to(#8EBF45));
  background-image: -webkit-linear-gradient(top, #BFDC7A, #8EBF45);
  background-image:    -moz-linear-gradient(top, #BFDC7A, #8EBF45);
  background-image:     -ms-linear-gradient(top, #BFDC7A, #8EBF45);
  background-image:      -o-linear-gradient(top, #BFDC7A, #8EBF45);
}

/* Marker Feature */
.ribbon-marker .banner {
  /* Ribbon Font Color */
  color: #DADAD0;
  text-shadow: rgba(0,0,0,0.5) 0px 1px 0px;
}
.ribbon-marker .banner::after,
.ribbon-marker .banner::before {
  /* Ribbon Curled-edge Color */
  background-color: #001123;
}
.ribbon-marker .text::before,
.ribbon-marker .text::after,
.no-css-transforms .ribbon-marker .text {
  /* Ribbon Font Color */
  color: #DADAD0;
  text-shadow: rgba(0,0,0,0.5) 0px 1px 0px;

  /* Ribbon Body Color */
  background-color: #004080;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#004080), to(#011F46));
  background-image: -webkit-linear-gradient(top, #004080, #011F46);
  background-image:    -moz-linear-gradient(top, #004080, #011F46);
  background-image:     -ms-linear-gradient(top, #004080, #011F46);
  background-image:      -o-linear-gradient(top, #004080, #011F46);
}

/**
 * Feature Pages Sequence
 */
#tripal_feature-fasta-record {
  background-color: #EEEEEE;
}
#tripal_feature-sequence-header {
  font-family: monospace;
  font-size: medium;
  padding-left: 15px;
  padding-top: 15px;
  padding-bottom: 0;
  margin-bottom: 0;
}
#tripal_feature-sequence-residues {
  width: 400px;
  word-wrap: break-word;
  margin: 0;
  letter-spacing:2px;
  padding-top: 0;
  margin-top: 0;
  background-color: transparent;
}

.variant-marked-up-sequence .variant {
  font-weight: bold;
  font-size: 1.25em;
}

.variant-marked-up-sequence .variant-IUPAC a {
  color: #1BD004;
}

.variant-marked-up-sequence .variant-expanded a {
  color: blue;
}

/**
 * Research Area Pages
 */
.uofs-research-area-base .field-name-field-page-thumnail {
  display: inline-block;
  float: left;
  margin-right: 30px;
  margin-bottom: 20px;
}
.uofs-research-area-base .field-name-field-page-thumnail img {
  margin: 0;
}

/**
 * Research Area Teaser
 */
.field-name-field-page-thumnail .field-items {
  display: inline-block;
  padding-right: 30px;
}
.field-name-field-page-thumnail {
  float: left;
}

.uofs-research-area-teaser-image {
  padding-right: 30px;
}

.tripal-teaser-more {
  float: right;
}

/**
 * Organism Pages
 */
.organism-main-image {
  float: left;
  margin-right: 30px;
  margin-bottom: 30px;
}
table#tripal_organism-table-base {
  width: auto;
  display: block;
  margin-bottom: 30px;
}

table td.tripal-contents-table-td {
  border-left: 0px;
  border-top: 0px;
  border-bottom: 0px;
}

/**
 * Organism Teaser
 */
div.tripal-teaser-title {
  border-bottom: 1px solid #d0d0d0;
  clear: both;
}

.field-name-field-organism ul.links.inline {
  display: none;
}

/**
 * Project Pages
 */
.project-date {
  float: right;
  font-weight: bold;
}

/**
 * Student Information page
 */

ul.professors {
  margin: 0;
  padding: 0;
} 
 
ul.professors li {
  list-style-type: none;
  margin-top: 15px;
  margin-bottom: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
  min-height: 140px;
}

ul.professors li.professor-first {
  padding-top: 30px;
  border-top: 1px solid #d0d0d0;
  border-bottom: 1px solid #d0d0d0;
}

ul.professors li.professor-middle, ul.professors li.professor-last {
  border-bottom: 1px solid #d0d0d0;
}

ul.professors .professor-image {
  float: left;
  padding-right: 30px;
  /*padding: 15px 30px 15px 0px;*/
}

ul.professors .professor-name {
  font-weight: bold;
/*  padding-top: 15px;*/
}
