
.hidden {
  display: none;
}

a, a:active, a:hover, a:focus {
  color: #3a7f21;
}

/* /////// HIGHLIGHT */
#highlighted {
  background-color: #FDFFD6;
  border-bottom: 2px solid #FF0000;
  color: #000000;
  font-family: sans-serif;
  font-weight: 300;
}

  #higlighted-content-sub-page {
    font-size: 0.9em;
    font-weight: 300;
    margin: 0 20px;
    padding: 8px 0;
    width: 100%;
  }

  #higlighted-content-sub-page p,
  #higlighted-content-sub-page h2,
  #higlighted-content-sub-page div {
    margin: 0;
    padding: 0;
    border: none;
  }

/**
 * Header
 */
#header {
  height: 93px;
  background-color: #3a7f21;
  background-image:url("../images/banner-subpage.jpg");
  background-repeat: repeat-x;
  /*
  border-bottom: 2px solid black;
  -webkit-box-shadow: 0 4px 4px #000000;
     -moz-box-shadow: 0 4px 4px #000000;
          box-shadow: 0 4px 4px #000000; */
}

#header img {
  border: none;

  height: 65px;
  width: 245px;
}

/* Fix logo alignment */
#header .section, #header .clearfix {
  clear: both;
}

#site-name {
  font-size: 6em;
    text-shadow:
    -2px -2px 0 #000,
    2px -2px 0 #000,
    -2px 2px 0 #000,
    2px 2px 0 #000;
}

body {
  background: #161617;
}

.sidebar .block {
  background-color: #ffffff;
  border-color: #d0d0d0;
}

/**
 * Search box in header
 */
#kp-header-search-box {
  position: absolute;
  top: 20px;
  right: 15px;
}

#kp-header-search-box form.search-form {
  margin: 0;
}

#kp-header-search-box input.form-text {
  width: 200px;
}

#kp-header-search-box #search-form .form-item-keys label {
  visibility: hidden;
}

/**
 * Featured Content
 */
#featured {
  font-size: 0.8em;
  padding: 20px 0;
  color: #325937;
  background: rgba(228,223,45,0.15);
}
#featured h2 {
  font-size: 18px;
  font-weight: bold;
}
#featured .content {
  font-style: italic;
}
#featured strong {
  font-size: 16px;
}
#featured .signature {
  position: relative;
  left: 160px;
}


/**
 * Highlighted Content
 */
.region-highlighted .block {
  border: 1px solid #d0d0d0;
  padding: 15px 15px;
  margin: 10px 0px;
}

h3.highlighted-title {
  font-weight: bold;
}
p.highlighted-body {
  color: #60676E;
  font-size: 0.8em;
}

/**
 * Top Menu's
 */
div.menu-main h2 {
  display:none;
}

div.menu-main .content {
  margin: 0;
}

div.menu-main li {
  display:block;
  float: left;
}

/** First Menu **/
div.menu-first {
  display:block;
  height:31px;
  margin-top:0px;
  background: url('../images/mainbarbg.jpg') repeat-x;
  width:100%;
}

div.menu-first ul {
  margin-left:20px;
}

div.menu-first li.leaf {
  padding-top: 0;
}

div.menu-first a {
  font-size: 12px;
  font-weight: 100;
  font-family: Verdana;
  text-align: left;
  color:  #718794;
  white-space: nowrap;
  right: 40px;
  line-height: 33px;
  text-transform: uppercase;
  padding: 0px 12px 2px 5px;
  background: url('../images/maindivider.png') no-repeat 100%;
  text-decoration:none;
}

div.menu-first .last a {
  background-image:none;
}

div.menu-first a:hover {
  color: #FFFFFF;
}

/** Second Menu **/
div.menu-second {
  display:block;
  height:42px;
  width:100%;
  background: url('../images/subbg.png');
  background-repeat: x;
  clear: both;
}

div.menu-second {
  display:block;
  height:42px;
  width:100%;
  background: url('../images/subbg.png');
  background-repeat: x;
  clear: both;
}


div.menu-second ul {
  margin-left:15px;
}

div.menu-second a {
  color: #474747;
  font-size: 1.18em;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  text-shadow: 1px 1px #FFFFFF;
  line-height: 38px;
  float: left;
  font-weight: normal;
  letter-spacing: 1px;
  padding: 0px 20px 2px 15px;
  display: block;
  height: 43px;
  background: url('../images/subdivider.png') no-repeat 100% 20px;
}

div.menu-second a:first-child {
  padding-left: 0;
  margin-left: 10px;
}

div.menu-second .last a {
  background-image:none;
}

div.menu-second  a:hover {
  text-decoration: none;
  color: #000000;
  text-shadow: 1px 1px 10px #000000;
}

/**
 * Tables
 */
table {
  border: 2px solid #FBFBFB;
}
table.tripal-contents-table {
  border: 0;
}
table tr th {
  background-color: #314355;
  border: 1px solid #FBFBFB;
}
table tr td {
  border-right: 1px solid #FBFBFB;
  border-left: 1px solid #FBFBFB;
}
.tripal-pane table tbody tr:first-child td {
  border-top: 1px solid #FBFBFB;
}
.tripal-pane table tbody tr:last-child td {
  border-bottom: 1px solid #FBFBFB;
}

table tr.odd {
  background: #FFFFFF;
}
table tr.even {
  background: #FBFBFB;
}

table {
  font-family: inherit;
}

/**
 * Forms
 */
fieldset legend {
  background-color: #314355;
}
fieldset legend a.fieldset-title {
  color: #FFFFFF;
  text-shadow: none;
}

fieldset legend .fieldset-legend {
  color: #FFFFFF;
  text-shadow: none;
}

/* Fieldsets on Tripal3 Pages */

.entity-tripalentity fieldset legend {
  background-color: white;
}
.entity-tripalentity fieldset legend a.fieldset-title {
  color: #3b3b3b;
  text-decoration: underline;
  font-weight: bold;
}
.entity-tripalentity fieldset legend .fieldset-legend {
  color: #3b3b3b;
  font-weight: bold;
}
.entity-tripalentity fieldset.collapsed legend {
  border: none;
}

/**
 * Fields
 */

/* Images (with source) Fields */
.field-name-field-image img{
  display: inline-block;
  border: 1px solid #d0d0d0;
  margin: 0;
}

/** All Images */
img {
  border: 1px solid #d0d0d0;
  margin: 0px 15px;
}

.field-name-field-funding-organization-logos img {
  border: none;
}

/**
 * Bioinformatics & Research page
 * @todo this shouldn't be in the main theme.
 */
.copy-center-row img {
  border: none;
  padding-right: 30px;
  padding-bottom: 25px;
}

.copy-center-row {
   border-bottom: 1px solid #EAEAEA;
}

.row-bottom {
  margin-bottom: 20px;
}

/* make all boxes the same
heights in bioinformatics
and research page
research flex style value */
.copy-box-nav .pane-1 {
  margin-left: 10px;
}

.copy-box-nav .pane-content{
  border: 1px solid #D0D0D0;
  padding: 5px 20px;
  margin: 0 5px;
  min-height: 225px;
  max-height: 225px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.copy-box-nav .pane-content p:first-child {
  width: 90%;
  line-height: 160%;
  font-size: 97%;
}

.copy-box-nav h2 {
  padding: 9% 0 3% 0;
  margin: 0;
}

.copy-box-nav p a {
  display: block;
  margin: 25px 0 0 0;
}

/**
 * Crops font style
 * @todo this shouldn't be in main theme.
 */
.tripal-contents-table {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 0.95em;
}

/**
 * Breeding and genetics
 * & crops overview page
 * @todo this shouldn't be in main theme.
 */

div.field-items p {
  text-align: justify;
}

.bast-tripal-data-block-title,
.tripal-data-block-title {
  font-size: 1.5em;
  margin: 0 0 10px 0;
}

.organism-description {
  text-align: justify;
}

/**
 * sort icon in raw sequence search
 * @todo shouldn't be in main theme.
 */
.active img {
  border: none;
  margin: 0 0 0 10px;
  padding: 0;
}

/**
 * blast page
 * @todo Shouldn't be in main theme
 */
#edit-msg p {
  text-align: justify;
}

/**
 * Footer
 */

#footer-wrapper {
  border-bottom: 15px solid #284453;
  min-width: 1100px;
}

#footer-wrapper .block {
  margin: 0;
  border: none;
  padding: 0px;
}

#footer .block {
  margin: 0;
}

#footer .content img {
  margin: 0 10px 20px 10px;
  border: none;
}

#footer .block .content {
  padding: 0;
  margin-top: 0;
}

#footer-columns p {
  margin-top: 0;
}

#footer {
  border: none;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #FFFFFF;
  font-weight: 300;
}

#footer .content strong {
  font-size: 1.4em;
}

#footer .content span {
  display: block;
  color: #CCCCCC;
}

#footer .content p:last-child {
  float: right;
  margin-right: 30px;
  margin-top: 10px;
}

#footer .content p:first-child{
  float: left;
  width: 660px;
  margin-left: 15px;
}

#footer .content img {
    opacity: 0.7;
    filter: alpha(opacity=70); /* For IE8 and earlier */
}

#footer .content img:hover {
    opacity: 1.0;
    filter: alpha(opacity=100); /* For IE8 and earlier */
}

/**
 * Teasers
 */

/* Search */
.search-results .tripal-teaser {
  border: 0;
  padding: 0;
  margin: 0 0 30px 0px;
  background-color: transparent;
}

.search-results .tripal-teaser .tripal-teaser-title {
  border-bottom: 0;
  font-weight: normal;
}

.search-results .tripal-teaser table tr td {
  border-right: 0;
  border-left: 0;
}

.search-results .tripal-teaser table tr th {
  background-color: #FFF;
  border: 1px solid #FFF;
  color: #314355;
}

.search-results .tripal-teaser table tr.even td, .search-results .tripal-teaser .tripal-site-admin-only-table-row {
  background: #FFF;
}

.search-results .node-teaser {
  border-bottom: 0;
}

.search-results .node-teaser h2 a {
  color: #118324;
}

.search-results .tripal-teaser-image img {
  display: none;
}
.search-results .tripal-teaser-image.col-left-img {
  width: 0;
}
.search-results .tripal-teaser .col-right-copy {
  padding-left: 0;
}

/* Hide the read-more link. */
.search-results ul.links.inline li {
  display: none;
}

/* Teaser data display */
.teaser-items {
  display: inline-flex;
  justify-content: space-between;
  width: 100%;
}
.teaser-items .item {
  width: 24%;
  text-align: left;
}
.teaser-items .item .item-title {
  font-weight: bolder;
}

/* Publications */
.tripal_pub-teaser .tripal-teaser-title {
  margin-bottom: 2px;
  clear: none;
}
.tripal_pub-teaser .pyear {
  float: right;
  font-weight: bold;
  padding-left: 20px;
}
.tripal_pub-teaser .citation {
  font-style: italic;
  margin-bottom: 10px;
}

/* Related Species on node pages */

div.tripal_organism-teaser,
div.tripal-teaser {
  border: 1px solid #D0D0D0;
  padding: 30px 40px 20px 20px;
  margin: 0 0 30px 0;
  background-color: #FAFAFA;
}

.col-left-img {
  float: left;
  width: 220px;
  overflow: hidden;
  text-align: center;
  padding-top: 20px;
}

.col-right-copy {
  float: none;
  width: auto;
  padding-left: 250px;
}
.col-right-copy .tripal-teaser-title {
  clear: none;
}

.col-clear {
  clear: both;
  line-height: 0;
}

.field-name-field-image-with-source {
  display: none;
}

/* Nucleotides list in blast page */
.n-cell {
  background-color: #F7F7F7;
  float: left;
  min-height: 50px;
  margin: 7px 18px 7px 0;
  min-width: 170px;
  padding: 20px;
  width: 170px;
  text-align: center;

  -webkit-box-shadow: inset 0px 0px 3px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0px 0px 3px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0px 0px 3px rgba(0, 0, 0, 0.1);
}

.n-cell span {
  display: block;
  font-size: 1.2em;
  font-style: italic
}

/* Jbrowse list in Jbrowse page */
.row-jbrowse .pane-content {
  background: #F7F7F7 url('../images/infographics-jbrowse.png') top no-repeat;
  background-position: 50% 25px;
  height: 80px;
  text-align: center;
  padding-top: 85px;

  -webkit-box-shadow: inset 0px 0px 3px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0px 0px 3px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0px 0px 3px rgba(0, 0, 0, 0.1);
}

.cell-jbrowse span {
  display: block;
  font-size: 1.5em;
  font-style: italic;
}

.cell-jbrowse small {
  font-size: 1em;
}

.admin-list dt {
  font-size: 1.3em;
  font-style: italic;
}

.admin-list dd {
  margin-bottom: 20px;
}

/**
 * Tripal Content Type tweaks.
 * @todo move into it's own file.
 */

.page-bio-data h1#page-title {
  border-bottom: 1px solid #d0d0d0;
  margin-bottom: 0;
}

.page-bio-data .ds-left {
  width: 25%;
}
.page-bio-data .ds-right {
  width: 72%;
}

.page-bio-data .tripald3-legend {
  font-style: normal;
}

/* EDIT/VIEW TABS */
.page-bio-data .tabs {
  margin-bottom: 0;
  position: relative;
  top: -15px;
}
.page-bio-data .tabs ul.primary {
  background: none;
}
.page-bio-data .tabs ul.primary li {
  float: right;
}
.page-bio-data .tabs ul.primary li.active a {
  border: 0;
  color: #314355;
  font-weight: bold;
}
.page-bio-data .tabs ul.primary li a {
  border: 0;
  color: #9E9E9E;
  font-weight: bold;
  background-color: #FFF;
}

/* TABLE OF CONTENTS. */
.page-bio-data .field-name-toc {
  border: 1px solid #d0d0d0;
  padding: 15px 20px;
}
.page-bio-data .field-name-toc .field-label {
  border-bottom: 1px solid #d0d0d0;
  padding-bottom: 5px;
  margin: 0 0 0.5em;
  font-weight: normal;
  font-size: 1.071em;
  line-height: 1.2;
}
.page-bio-data .view-tripal-content-type-toc .views-row {
  border: 0;
  margin: 0;
  padding: 0;
}

/* TRIPAL PANES. */
.page-bio-data .tripal_pane {
  border: 0;
}
.page-bio-data .tripal_pane > span {
  background: #FFF;
  border: 0;
  border-bottom: 1px solid #d0d0d0;
  font-family: inherit;
  font-size: 1.2em;
  font-weight: bold;
  color: #314355;
  line-height: 1.2;
  margin-bottom: 15px;
}
.page-bio-data #tripal-pane-close-button {
  color: #a4a5a4;
}
.tripal_pane-fieldset-buttons .fa-times-rectangle-o::before,
  .tripal_pane-fieldset-buttons .fa-window-close-o::before {
    content: "x";
}
.tripal_pane-fieldset-buttons .fa-lg {
  vertical-align: 0;
}

/* TABLE */
.page-bio-data table caption, .page-bio-data table caption .tripald3-title {
  font-weight: bolder;
  font-style: normal;
  font-size: 14px;
}
.page-bio-data tr, .page-bio-data tr.even {
  background: none;
}
.page-bio-data table caption .tripald3-desc {
  font-weight: normal;
  font-style: italic;
  font-size: 12.6px;
}
.page-bio-data table tbody th {
  width: 150px;
}
.page-bio-data .trpfancy-table-footer {
  position: relative;
  top: -10px;
  margin-bottom: 10px;
}

/* FIELDS */
.page-bio-data div.field-label {
  font-weight: bolder;
  font-size: 14px;
  margin-top: 15px;
}

.page-bio-data .field h3 {
  font-weight: bolder;
  font-size: 14px;
  margin-top: 15px;
}

.page-bio-data .field-name-schema--name {
  display: none;
}

/* --- Quick Search */
.page-bio-data .field-type-local--quick-search {
  padding: 5px 20px 15px 25px;
  margin-top: 20px;
  margin-bottom: 20px;
  border: 1px solid #d0d0d0;
  background-color: #F9F9F9;
}
/*
.page-bio-data .field-type-local--quick-search div.field-label {
  border-bottom: 1px solid #d0d0d0;
  margin-bottom: 10px;
  width: 250px;
}
*/

/* --- Quick Browse */
.page-bio-data .field-type-local--quick-browse {
  padding: 5px 20px 15px 25px;
  margin-top: 20px;
  margin-bottom: 20px;
  border: 1px solid #d0d0d0;
  background-color: #F9F9F9;
}
/*
.page-bio-data .field-type-local--quick-browse div.field-label {
  border-bottom: 1px solid #d0d0d0;
  margin-bottom: 10px;
  width: 250px;
}
*/

/* ORGANISM */
.page-bio-data .field-name-data--image {
  position: relative;
  top: 23px;
  float: right;
}
.page-bio-data .field-name-data--image img {
  height: 380px;
  width: 250px;
}
.page-bio-data .tripal_pane-fieldset-gp_description {
  clear: both;
  padding-top: 25px;
}
.page-bio-data .group-summary-table table {
  width: 100%;
}
.page-bio-data .field-name-ncit--principal-investigator ul {
  margin: 0;
  padding: 0;
}
.page-bio-data .field-name-ncit--principal-investigator ul li {
  list-style-type: none;
  margin-bottom: 25px;
  min-height: 125px;
}
.page-bio-data .field-name-ncit--principal-investigator ul > :last-child {
  margin-bottom: 0;
}
.page-bio-data .field-name-ncit--principal-investigator ul li img {
  float: left;
  margin-right: 25px;
}

/* PUBLICATION */
.page-bio-data .tripalentity-bio-data-6 .field-name-tpub--citation {
  border: 1px solid #ccffb3;
  border-left-width: 15px;
  background-color: #eeffe6;
  padding: 10px 20px;
}
/* For adding a quote symbol. Needs work.
.page-bio-data .tripalentity-bio-data-6 .field-name-tpub--citation .field-items ::before {
  content: '\201c';
  font-size: 50px;
  color: lightgray;
  position: relative;
  top: 25px;
}
*/
