/**
 * @file
 * Styling of the Shepherd Site Tours used for tutorials throughout KnowPulse.
 */

div.shepherd-step {
  /* Fixed width needed to keep steps from expanding based on contents */
  width: 300px;
}

/* The drop shadow behind the box outlining the step */
.shepherd-element.shepherd-theme-arrows .shepherd-content {
  -webkit-filter: drop-shadow(0 0 5px rgba(49,67,85,0.9));
}

/* Header */
.shepherd-element.shepherd-theme-arrows.shepherd-has-title .shepherd-content header {
  background: #314355;
  background: rgba(49,67,85);
  color: #fff;
}

/* The Cancel Link - default color when there is NO header for the step */
.shepherd-element.shepherd-theme-arrows .shepherd-content header a.shepherd-cancel-link {
  color: #000;
  opacity: 0.5;
}

/* The Cancel Link - this sets the color when there IS a header for the step */
.shepherd-element.shepherd-theme-arrows.shepherd-has-title .shepherd-content header a.shepherd-cancel-link {
  color: #FFF;
  opacity: 0.5;
}

/* The Next button */
.shepherd-element.shepherd-theme-arrows .shepherd-content footer .shepherd-buttons li .shepherd-button {
  background: #406F18;
}

/* The Done! button */
.shepherd-element.shepherd-theme-arrows .shepherd-content footer .shepherd-buttons li .shepherd-button.shepherd-button-complete {
  background: #314355;
}

/* The start tour link */
a.tour-start-link {
  line-height: 0em;
  float: right;
  position: relative;
}
a.tour-start-link.tour-image-link {
  top: -85px;
  right: 35px;
}
a.tour-start-link.tour-image-link img {
  width:40px;
  height: 40px;
  border: none;
  padding-right: 10px;
}
a.tour-start-link.tour-textual-link {
  top: -67px;
  font-style: italic;
  clear: right;
  padding-right: 5px;
}

/** Front start tour button */
#frontpage-start-tour {
  position: absolute;
  top: 100px;
  right: 15px;
  font-family: Verdana;
}
#frontpage-start-tour #frontpage-tour-help {
  color: #F6FAF3;
  font-weight: 500;
  font-style: italic;

  text-shadow:
   -1px -1px 0 #142330,
    1px -1px 0 #142330,
    -1px 1px 0 #142330,
     1px 1px 0 #142330; /* Border the text */
  text-shadow:
   -1px -1px 6px #142330,
    1px -1px 6px #142330,
    -1px 1px 6px #142330,
     1px 1px 6px #142330; /** And a bit more with blur*/
}
#frontpage-start-tour #frontpage-tour-button {

  padding: 8px 0;
  width: 125px;
  display:block;
  border-radius: 3px;
  cursor: pointer;
  border: 0;

  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 12px;
  font-weight: 400;
  font-family: Verdana;
  line-height: 1em;
  color: #3A6A13;

    -webkit-box-shadow: 1px 1px 1px rgba(0,0,0, .29), inset 1px 1px 1px rgba(255,255,255, .44);
    -moz-box-shadow: 1px 1px 1px rgba(0,0,0, .29), inset 1px 1px 1px rgba(255,255,255, .44);
    box-shadow: 1px 1px 1px rgba(0,0,0, .29), inset 1px 1px 1px rgba(255,255,255, .44);

    -webkit-transition: all 0.15s ease;
    -moz-transition: all 0.15s ease;
    -o-transition: all 0.15s ease;
    -ms-transition: all 0.15s ease;
    transition: all 0.15s ease;

    background: #F6FAF3; /* Old browsers */
}
#frontpage-start-tour #frontpage-tour-button:hover {
  color: #142A3B;
  background: #D1E0C6;
  font-weight: 800;
    -webkit-box-shadow: 1px 1px 1px rgba(0,0,0,.29), inset 0px 0px 2px rgba(0,0,0, .5);
    -moz-box-shadow: 1px 1px 1px rgba(0,0,0,.29), inset 0px 0px 2px rgba(0,0,0, .5);
    box-shadow: 1px 1px 1px rgba(0,0,0,.29), inset 0px 0px 2px rgba(0,0,0, .5);
}
#frontpage-start-tour #frontpage-tour-button:active {
    -webkit-box-shadow: inset 0px 0px 3px rgba(0,0,0, .8);
    -moz-box-shadow: inset 0px 0px 3px rgba(0,0,0, .8);
    box-shadow: inset 0px 0px 3px rgba(0,0,0, .8);
}
